p {
    color: red;
  }

h1{
    background-color: aqua;
    width: 500px;
    border: 30;
}
h2{
    background-color: aliceblue;
    width: 200px;
    border-radius: 4%;
    border-color: aquamarine;

}